@import "bulma-calendar/dist/css/bulma-calendar.min.css";

@import "bulma/css/bulma.min.css";
.no-select {
    user-select: none;
}

.button {
    border-color: white;
    background: none;
}

.text-white{
    color: white;
}

.is-active-sn {
    background-color: transparent !important;
    background-image: linear-gradient(to left, #1F9BFD, #1F73FE) !important;
    color: white !important;
    background-clip: text;
}


.sn-blue-fade {
    background: linear-gradient(to right, #1F9BFD, #1F73FE);
    border-radius: 15px;
    padding: 0.25em;
}

.square-rounded-ng {
    background: linear-gradient(to right, #1F9BFD, #1F73FE);
    border-radius: 0 10px 0  0;
}

.bg {
    box-shadow: 0px 0px 0px;
}

.button-rounded-no-outline {
    border-color: white;
    background: none;
}

.txt-sp {
    background-image: linear-gradient(to left, #1F9BFD, #1F73FE);
    color: transparent;
    background-clip: text;
}

.icon-sp {
    color: #1F73FE;
}


button:hover {
    border-color: #0281e8;
    background-color: transparent;
    padding-left: calc(var(--bulma-button-padding-horizontal) + 0.25em - var(--bulma-button-border-width));
    padding-right: calc(var(--bulma-button-padding-horizontal) + 0.25em - var(--bulma-button-border-width));
}

.title-input  {
    border: none;
    border-bottom: 2px solid #acacac;
    width: 100%;
    background: none;
    color: white;
}
.title-input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #0281e8;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.box {
    margin: 0;
    padding: 0;
    outline: #b4e2ff solid 10px;
    outline-offset: -1px;
    background-color: #0281e8;
}