<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <section class="hero is-fullheight">
                <div class="hero-body has-text-centered">
                    <div class="container">
                        <div class="container">
                            <div class="row is-one-third has-text-centered mb-5">
                                <h1 class="is-size-1 has-text-weight-bold">Let your thoughts slide into a note.</h1>
                                <button class="mt-5" {{ vue_component('buttonHome', {'text': "START CREATING"}) }}></button>
                            </div>
                            <div class="columns is-3">
                                <div class="column"></div>
                                <div class ="is-5 row column is-centered m-5" {{ vue_component('noteCard', { }) }}></div>
                                <div class="column"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
    </body>
</html>
